.idea/
.vscode/
node_modules/
build/
tmp/
temp/
dist
.next
.DS_Store
out
bundles
.env
.vimrc
*.log
coverage/
desktop.ini
packages/web/static/mock-video.mp4
packages/web/images/mock-video-poster.jpg
packages/web/images/media-videos.png
nginx
static